@{
    ViewBag.Title = "HISTORI TAGIHAN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- HEADING-->
<div class="card">
    <div class="card-body">
        <h4 class="header-title">Data Tagihan</h4>
        <!-- BODY -->
        <div class="dataTable_wrapper datatable-primary">
            <table id="tasktable" style="margin-left:auto; margin-right:auto;" class="table table-striped table-bordered text-center">
                <thead class="text-capitalize">
                    <tr>
                        <th>No Akad</th>
                        <th>Debitur</th>
                        <th>Alamat</th>
                        <th>Area</th>
                        <th>Tanggal Kunjungan</th>
                        <th>Total Tagihan</th>
                        <th>Total Bayar</th>
                        <th>Collector</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        //Init

        //Show Table
        $(document).ready(function() {
            var table = $("#tasktable").DataTable({
                ajax: {
                    url: "/api/homevisits?confirmation=true",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Id"
                    },
                    {
                        data: "Debt.Name"
                    },
                    {
                        data: "Debt.Address"
                    },
                    {
                        data: "Debt.Area.Village"
                    },
                    {
                        data: "HomeVisitDate",
                        render: function (data) {
                            var d = new Date(data),
                                month = '' + (d.getMonth() + 1),
                                day = '' + d.getDate(),
                                year = d.getFullYear();

                            if (month.length < 2) month = '0' + month;
                            if (day.length < 2) day = '0' + day;

                            return [day,month,year].join('/');
                        }
                    },
                    {
                        render: function(data, type, tasktable) {
                            var total = tasktable.PrincipalBill + tasktable.Margin + tasktable.Fee + tasktable.Penalty

                            return "Rp."+ total.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
                        }
                    },
                    {
                        data: "AmountPaid",
                        render: function(data) {

                            return data.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.");
                        }
                    },
                    {
                        render: function(data, type, tasktable) {
                            if (tasktable.ApplicationUser.Name == "")
                                return "BabyPanda";
                            else
                                return tasktable.ApplicationUser.Name;
                        }
                    },
                    {
                        data: "Id",
                        render: function (data, type, tasktable) {
                            return "<a class='btn btn-info' href='/transaksi/detailpenagihan/" + data + "'>Detail</a>";
                        }
                    }
                ]
            });
        });
    </script>
}